em{
  font-size: 1.2rem;

}
select{
  font-size: 1.2rem;
  padding: 0.5vh 1vw;
  border: 1px solid darkgray;
  cursor: pointer;
}
option{
  font-size: 1.2rem;
}
.em_id{
  margin-bottom: 2vh;
}

.user_container{
  height: 60vh;
  overflow-y: auto;
}

.fio_summary{
  width: 25rem !important;
}
.fio_container{
  max-width: 200px;
  display: flex;
  justify-content: space-between;
}
.fio_input input[type="text"]{
  margin-left: 4vw;
  margin-bottom: 0.9rem;
  line-height: 1.2rem;
  width: 25rem;
  font-size: 1.2rem;
}
.fio_label div{
  margin-top: 0.1rem;
  margin-bottom: 1.5rem;
}
.verified{
  font-size: 0.9rem;
  margin-left: 1.5vw;
  margin-bottom: 0.5rem;
}

.verify-true{
  color: green;
}
.verify-false{
  color: red;
}
.input_field{
  text-align: center;
  vertical-align: middle;
}
.footer_form{
  display: flex;
  justify-content: left;
  margin-top: 3vh;
}
.response_ok{
  border: 1px solid green;
  background: #f2fff5;
}
.response_bad{
  border: 1px solid darkred;
  background: salmon;
}
.message{
  padding: 1vh 0.5vw;
}



