:root{
  --table-height:34vh;
}

h2{
  text-align: center;
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  flex-direction: column;

}
details summary::-webkit-details-marker {
  display: none
}
details > summary {
  width: 5rem;
  list-style: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
  background: #ADD8E6 !important;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

details>summary:hover{
  opacity: 70%;
}

details[open].table-scroll-body{
  height: 54vh !important;
}

form{
  background: #f7f7f7;
  border: 1px solid darkgray;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
}

form em{
  margin-right: 1em;
  margin-left: 1em;
}
.button_form{
  padding: 0.5em 1em;
  margin-right: 2em;
  font-size: inherit;
  cursor: pointer;
  border-radius:  0.25rem;
  border: 1px solid #bdbdbd;
  background: #ADD8E6 !important;
}
.button_form:hover{
  opacity: 70%;
}
span{
  margin-left: 4px;
}
.form_item{
  margin-bottom: 0.3em;
}
.group_in_form{
  display: flex;
  justify-content: space-between;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
}

.select {
  border: 1px solid #bdbdbd;
  border-radius:  0.25rem;
  padding: 0.25em 0.5em;
  font-size: 1.1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
input[type=checkbox] {
  position: relative;
  cursor: pointer;
}
input[type=checkbox]:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  border: 2px solid #bdbdbd;
  border-radius:  0.25rem;
  background-color: white;
}
input[type=checkbox]:checked:after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: 2px;
  left: 6px;
}
.text-field__input {
  width: 20em;
  margin-left: 2px;
  height: calc(1rem + 2px);
  padding: 0.375rem 0.75rem;
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #bdbdbd;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.is-invalid{
  border: 2px solid red;
}
.is-invalid:after{
  content: '\9940';
}

.status_select{
  margin-top: 2vh;
  margin-right: 3vw;
  border: 1px solid black;
  border-radius: 0.5rem;
  padding-right: 1vw;
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}
.status_select_label{
  display: flex;
  flex-direction: column;
}
.status_select_label em{
  margin-bottom: 1vh;
}
.status_select_checkbox{
  display: flex;
  flex-direction: column;
}
.status_select_checkbox input{
  margin-bottom: 1vh;
}

.table-scroll table{
  width: 100%;
  table-layout: fixed;
  border: none;
}
.table-scroll thead th{
  border: none;
  border-left: 1px solid #87CEFA;
  border-right: 1px solid #87CEFA;
}

#header_table{
  border-spacing: 0;
}
#header_table th{
  height: 2.5rem;
}
.table-scroll-body{
  border-collapse: collapse;
  border-bottom: 1px solid grey;
  height: 34vh;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

thead{
  font-weight: bold;
  background: #87CEFA;
  font-size: 1.1rem;
}

table tbody tr:nth-child(3n+1){
  background: #f2fff5;
}

/* Строки 2,5,8... */
table tbody tr:nth-child(3n+2){
  background: #ffeaea;
}

/* Строки 3,6,9... */
table tbody tr:nth-child(3n+3){
  background: #eeecff;
}
tbody{
  cursor: pointer;
}


td{
  height: 3rem;
}
.td_id{
  width: 5vh;
  text-align: center;
}
.td_field{
  width: 10rem;
  padding-left: 1vh;
}
.td_email{
  width: 10rem;
  padding-left: 1vh;
}

.td_phone{
  padding-left: 1vh;
  width: 10rem;
}

.td_status{
  text-align: center;
  width: 10rem;
}
.deleted{
  color: red;
  font-weight: bold;
}
#body-table tr:hover{
  opacity: 80%;
  font-size: 1.1rem;
}

.footer{
  margin-top: 1vh;
  display: flex;
  justify-content: space-between;
}


